<!DOCTYPE html>
<html>
<head>
  <title>backbone demo1</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="style.css">
</head>
<body>

  <div id="container">

    <div id="header">
      <div id="title">Demo</div>
    </div>

    <div id="controls">
      <button id="new-card">new card</button>
    </div>

    <div id="card-list">
    </div>

    <div id="content">
    </div>

  </div><!-- content -->

  <script id="new-card-template" type="text/template">
  <input id="letter"><button id="add-card">Add</button>
  </script>

  <script type="text/javascript" src="jquery-1.11.0.js"></script> 
  <script type="text/javascript" src="underscore.js"></script> 
  <script type="text/javascript" src="backbone.js"></script> 
  <script>


    var App = {
      init: function(letters) {
        this.letters = letters;

        //App.CardList.init();
        //App.CardList.render(this.letters);

        //App.NewCardForm.init();
        //App.Card.init();

        $('#new-card').on('click', function() {
          var newCardFormView = new NewCardFormView();
          var html = newCardFormView.render().el;
          $('#content').html(html)
        })

        this.renderCardList(this.letters);
      },

      renderCardList: function(letters) {
        $('#card-list').empty();
        $.each(letters, function(index, value) {
          var model = { letter: value }
          var view = new CardListItemView({model: model});
          var html = view.render().el;
          $('#card-list').append(html);
        })
         
      }
    }

    var NewCardFormView = Backbone.View.extend({
      template: _.template($('#new-card-template').html()),

      events: {
        'click #add-card': 'addCard'
      },

      render: function() {
        var html = this.template();
        this.$el.html(html);
        return this;
      },

      addCard: function() {
        var letter = this.$el.find('#letter').val();
        App.letters.push(letter);
        App.renderCardList(App.letters);
      }
    })

    // App.NewCardForm = {
    //   init: function() {
    //     _.bindAll(this, 'render', 'addCard');

    //     this.$content = $('#content');
    //     $('button#new-card').on('click', this.render);
    //     this.$content.on('click', 'button#add-card', this.addCard);
    //   },

    //   render: function() {
    //     var html = '<input id="letter"><button id="add-card">Add</button>'
    //     this.$content.html(html);
    //   },

    //   addCard: function() {
    //     var letter = this.$content.find('#letter').val();
    //     App.letters.push(letter);
    //     App.CardList.render(App.letters);
    //     this.$content.find('#letter').val('');
    //   }
    // }

    var CardListItemView = Backbone.View.extend({      
      className: 'column',
      template: _.template('<%= letter %>'),
      events: {
        'click': 'showCard' 
      },

      render: function() {
        this.$el.html(this.template(this.model));
        return this;
      },

      showCard: function() {
        var letter = this.$el.html();
        var view = new CardView({el: $('#content') });
        view.render(letter);
      }
    })

    var CardView = Backbone.View.extend({
      template: _.template('<div id="show"><a href=""><%= letter %></a></div>'),

      events: {
        'click a': 'blink'
      },

      render: function(letter) {
        var html = this.template({letter: letter});
        this.$el.html(html);
        return this;
      },

      blink: function(e) {
        e.preventDefault();
        var $a = this.$el.find('a');
        $a.fadeOut(200, function() {
          $a.fadeIn(200);
        }); 
      }      
    })

    App.init(['a','b','c']);

  </script> 
</body>
</html>